<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scheme for a two-column website layout in CSS - acteck.off</title>
  <meta name="description" content="Two Column Website Layout Diagram in CSS - Programming Tutorials.">
  <link rel="stylesheet" href="../../../../../../assets/css/style.css">
  <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>⚡</text></svg>">
</head>
<body>
  <header class="header">
    <div class="header-inner">
      <a href="../../../../../../ru/index.html" class="logo">
        <div class="logo-icon">A</div>
        <div>
          <div class="logo-text"><span>acteck</span>.off</div>
          <div class="logo-slogan">programming training</div>
        </div>
      </a>
      <div class="header-actions">
        <div class="lang-switch">
          <a href="../../../../../../ru/index.html" class="lang-btn">RU</a>
          <a href="../../../../../../../en/index.html" class="lang-btn active">EN</a>
        </div>
      </div>
    </div>
  </header>

  <section class="page-content">
    <a href="../../../../../../en/markup/index.html" class="back-link">← Back</a>
    
    <div class="breadcrumbs">
      <a href="../../../../../../en/index.html">Home</a>
      <span class="separator">/</span>
      <a href="../../../../../../en/markup/index.html">Layout</a>
    </div>

    <h1>Two-column website layout in CSS</h1>
    <p>Let's make a two-column layout like this:</p>
<div data-p="bock/pane">
					<div data-w="bock/open" data-m-type="P">
						<a href="" data-e="link" data-x>
							<span data-e="text" data-x data-lo="torc" data-m-kest="open-window"></span>
							<div data-e="code" data-x data-v-code="<!DOCTYPE html>
	<head>
		<base target=&quot;_blank&quot;>
		<meta charset=&quot;utf-8&quot;>
		<meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>
		
		<style>
			
		</style>
		<style>
			* {
			box-sizing: border-box;
		}
		
		#wrapper {
			width: 1000px;
			margin: 30px auto;
			border: 1px solid black;
		}
		#header {
			height: 200px;
			padding: 20px;
			border: 1px solid black;
		}
		#container {
			display: flex;
		}
		#content {
			width: 780px;
			height: 700px;
			padding: 20px;
			border: 1px solid black;
		}
		#sidebar {
			width: 200px;
			margin-right: 20px;
			padding: 20px;
			border: 1px solid black;
		}
		#footer {
			height: 200px;
			padding: 20px;
			border: 1px solid black;
		}
		</style>
	</head>
	<body>
		
		<div id=&quot;wrapper&quot;>
			<div id=&quot;header&quot;>
				header
			</div>
			<div id=&quot;container&quot;>
				<div id=&quot;sidebar&quot;>
					sidebar
				</div>
				<div id=&quot;content&quot;>
					content
				</div>
			</div>
			<div id=&quot;footer&quot;>
				footer
			</div>
		</div>
		
		<script>
			
			
		</script>
	</body>
</html>"></div>
						</a>
					</div>
				</div>
<p>First, let's create the basic structure of the page:</p>
<div data-p="bock/pane">
	<code data-w="bock/code" data-lo="high" data-m-lang="html">&lt;div id="wrapper"&gt;
	&lt;div id="header"&gt;
		header
	&lt;/div&gt;
	&lt;div id="container"&gt;
		&lt;div id="content"&gt;
			content
		&lt;/div&gt;
		&lt;div id="sidebar"&gt;
			sidebar
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div id="footer"&gt;
		footer
	&lt;/div&gt;
&lt;/div&gt;</code>
</div>
<p>Now let's style the wrapper, aligning it to the center of the screen:</p>
<div data-p="bock/pane">
	<code data-w="bock/code" data-lo="high" data-m-lang="css">#wrapper {
	width: 1000px;
	margin: 30px auto;
	border: 1px solid black;
}</code>
</div>
<p>Now let’s set the header and footer styles:</p>
<div data-p="bock/pane">
	<code data-w="bock/code" data-lo="high" data-m-lang="css">#header {
	height: 200px;
	border: 1px solid black;
}
#footer {
	height: 200px;
	border: 1px solid black;
}</code>
</div>
<p>As you can see, we are giving the header and footer a height. We do this like in our schema they don't have any content. If there is content, the height of the blocks should not be set - it will be formed by their content.</p>
<p>Also note that we don't give them a width. The fact is that the header and footer are block elements and their width will automatically be equal to the width of the wrapper.</p>
<p>Let's now ask them<code data-gs="comd/c" data-x>padding</code>to prevent text from sticking to borders:</p>
<div data-p="bock/pane">
	<code data-w="bock/code" data-lo="high" data-m-lang="css">#header {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
}
#footer {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
}</code>
</div>
<p>Availability<code data-gs="comd/c" data-x>padding</code>but, however, it will have a bad effect on the size of the blocks - they will become larger than indicated. Let's change the behavior of all blocks so that<code data-gs="comd/c" data-x>padding</code>and our blocks did not expand the borders:</p>
<div data-p="bock/pane">
	<code data-w="bock/code" data-lo="high" data-m-lang="css">* {
	box-sizing: border-box;
}</code>
</div>
<p>Now we need to put the content and sidebar in one row. Let's do this using flexes:</p>
<div data-p="bock/pane">
	<code data-w="bock/code" data-lo="high" data-m-lang="css">#container {
	display: flex;
}</code>
</div>
<p>Let's set the content and sidebar to their width. In this case, the sum of their widths should be equal to the width of the wrapper:</p>
<div data-p="bock/pane">
	<code data-w="bock/code" data-lo="high" data-m-lang="css">#content {
	width: 800px;
}
#sidebar {
	width: 200px;
}</code>
</div>
<p>Let's say we want to make a space between the sidebar and the content. In this case, the sidebar needs to be set<code data-gs="comd/c" data-x>margin</code>. In this case, we will have to pinch off the width from someone for this<code data-gs="comd/c" data-x>margin</code>. Let's pinch off the content, reducing its width accordingly:</p>
<div data-p="bock/pane">
	<code data-w="bock/code" data-lo="high" data-m-lang="css">#content {
	width: 780px;
}
#sidebar {
	width: 200px;
	margin-right: 20px;
}</code>
</div>
<p>Let's now add height since our elements don't contain content. It is enough to add height to only one element, because the second flex element will adjust in height (why?). Let's set the height of the content:</p>
<div data-p="bock/pane">
	<code data-w="bock/code" data-lo="high" data-m-lang="css">#content {
	width: 780px;
	height: 700px;
}
#sidebar {
	width: 200px;
	margin-right: 20px;
}</code>
</div>
<p>Let's add the rest of the styles to the content and sidebar:</p>
<div data-p="bock/pane">
	<code data-w="bock/code" data-lo="high" data-m-lang="css">#content {
	width: 780px;
	height: 700px;
	padding: 20px;
	border: 1px solid black;
}
#sidebar {
	width: 200px;
	margin-right: 20px;
	padding: 20px;
	border: 1px solid black;
}</code>
</div>
<p>That's it, our layout is ready. Let's put all the code together:</p>
<div data-p="bock/pane">
	<code data-w="bock/code" data-lo="high" data-m-lang="html">&lt;div id="wrapper"&gt;
	&lt;div id="header"&gt;
		header
	&lt;/div&gt;
	&lt;div id="container"&gt;
		&lt;div id="sidebar"&gt;
			sidebar
		&lt;/div&gt;
		&lt;div id="content"&gt;
			content
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div id="footer"&gt;
		footer
	&lt;/div&gt;
&lt;/div&gt;</code>
	<code data-w="bock/code" data-lo="high" data-m-lang="css">* {
	box-sizing: border-box;
}

#wrapper {
	width: 1000px;
	margin: 30px auto;
	border: 1px solid black;
}
#header {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
}
#container {
	display: flex;
}
#content {
	width: 780px;
	height: 700px;
	padding: 20px;
	border: 1px solid black;
}
#sidebar {
	width: 200px;
	margin-right: 20px;
	padding: 20px;
	border: 1px solid black;
}
#footer {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
}</code>
</div>
<div data-w="cont/task">
	<div data-p="bock/pane">
					<div data-w="bock/open" data-m-type="P">
						<a href="" data-e="link" data-x>
							<span data-e="text" data-x data-lo="torc" data-m-kest="open-window"></span>
							<div data-e="code" data-x data-v-code="<!DOCTYPE html>
	<head>
		<base target=&quot;_blank&quot;>
		<meta charset=&quot;utf-8&quot;>
		<meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>
		
		<style>
			
		</style>
		<style>
			* {
				box-sizing: border-box;
			}
			
			#wrapper {
				width: 1200px;
				margin: 30px auto;
				border: 1px solid black;
			}
			#header {
				height: 250px;
				padding: 20px;
				border: 1px solid black;
			}
			#container {
				display: flex;
			}
			#content {
				width: 860px;
				height: 900px;
				padding: 20px;
				border: 1px solid black;
			}
			#sidebar {
				width: 300px;
				margin-right: 40px;
				padding: 20px;
				border: 1px solid black;
			}
			#footer {
				height: 100px;
				padding: 20px;
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		
		<div id=&quot;wrapper&quot;>
				<div id=&quot;header&quot;>
					header
				</div>
				<div id=&quot;container&quot;>
					<div id=&quot;sidebar&quot;>
						sidebar
					</div>
					<div id=&quot;content&quot;>
						content
					</div>
				</div>
				<div id=&quot;footer&quot;>
					footer
				</div>
			</div>
		
		<script>
			
			
		</script>
	</body>
</html>"></div>
						</a>
					</div>
				</div>
</div>
<div data-w="cont/task">
	<div data-p="bock/pane">
					<div data-w="bock/open" data-m-type="P">
						<a href="" data-e="link" data-x>
							<span data-e="text" data-x data-lo="torc" data-m-kest="open-window"></span>
							<div data-e="code" data-x data-v-code="<!DOCTYPE html>
	<head>
		<base target=&quot;_blank&quot;>
		<meta charset=&quot;utf-8&quot;>
		<meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>
		
		<style>
			
		</style>
		<style>
			* {
				box-sizing: border-box;
			}
			
			#wrapper {
				width: 1200px;
				margin: 30px auto;
				border: 1px solid black;
			}
			#header {
				height: 250px;
				padding: 20px;
				border: 1px solid black;
			}
			#container {
				display: flex;
			}
			#content {
				width: 860px;
				height: 900px;
				padding: 20px;
				border: 1px solid black;
			}
			#sidebar {
				width: 300px;
				margin-left: 40px;
				padding: 20px;
				border: 1px solid black;
			}
			#footer {
				height: 100px;
				padding: 20px;
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		
		<div id=&quot;wrapper&quot;>
				<div id=&quot;header&quot;>
					header
				</div>
				<div id=&quot;container&quot;>
					<div id=&quot;content&quot;>
						content
					</div>
					<div id=&quot;sidebar&quot;>
						sidebar
					</div>
				</div>
				<div id=&quot;footer&quot;>
					footer
				</div>
			</div>
		
		<script>
			
			
		</script>
	</body>
</html>"></div>
						</a>
					</div>
				</div>
</div>
    <div class="lesson-nav">
      <a href="../page-structure/index.html" class="lesson-nav-btn lesson-nav-prev" title="Structural blocks of the site">← Structural blocks of the site</a>
      <a href="../../index.html" class="lesson-nav-up" title="To the list of lessons">☰</a>
      <a href="../three-columns-schema/index.html" class="lesson-nav-btn lesson-nav-next" title="Three-column website layout diagram">Three-column website layout diagram →</a>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-inner">
      <p>© <span class="copyright-year">2025</span> — <span class="copyright-year">2026</span> acteck.off</p>
      <p>Author:<a href="https://t.me/Acteck37" target="_blank">Evgeniy Volkov</a></p>
    </div>
  </footer>

  <script src="../../../../../../assets/js/main.js"></script>
</body>
</html>